In [74]:
import random
import pandas as pd

In [65]:
data = pd.read_csv("2008.csv")
data.sample(10)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
48858,2008,3,28,5,920.0,925,1055.0,1109,FL,78,...,5.0,11.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
49412,2008,12,2,2,818.0,820,1013.0,1030,WN,2465,...,3.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
18165,2008,9,22,1,820.0,820,1007.0,1010,WN,1408,...,6.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
8120,2008,3,12,3,1456.0,1425,1641.0,1617,FL,816,...,4.0,20.0,0,NaN,0,0.0,0.0,0.0,0.0,24.0
42310,2008,1,23,3,1110.0,1110,1242.0,1236,EV,4576,...,6.0,23.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
63064,2008,11,2,7,1740.0,1740,2022.0,2025,WN,2263,...,4.0,20.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
67066,2008,8,6,3,920.0,921,959.0,1004,OO,6444,...,3.0,13.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
47980,2008,11,8,6,1110.0,1110,1217.0,1220,WN,3215,...,6.0,16.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
19048,2008,12,1,1,1715.0,1720,1738.0,1742,9E,2278,...,12.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
37931,2008,1,20,7,1500.0,1500,1617.0,1620,MQ,3419,...,4.0,11.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [67]:
data['DepDelay'].isna().sum()

1399

In [68]:
print(data.shape)
data = data.loc[~data['DepDelay'].isna()]
data.shape

(70000, 29)

(68601, 29)

In [69]:
print(data.shape)
data = data.drop_duplicates()
data.shape

(68601, 29)

(68601, 29)

In [70]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 68601 entries, 0 to 69999
Data columns (total 29 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Year               68601 non-null  int64
 1   Month              68601 non-null  int64
 2   DayofMonth         68601 non-null  int64
 3   DayOfWeek          68601 non-null  int64
 4   DepTime            68601 non-null  float64
 5   CRSDepTime         68601 non-null  int64
 6   ArrTime            68444 non-null  float64
 7   CRSArrTime         68601 non-null  int64
 8   UniqueCarrier      68601 non-null  object
 9   FlightNum          68601 non-null  int64
 10  TailNum            68601 non-null  object
 11  ActualElapsedTime  68418 non-null  float64
 12  CRSElapsedTime     68596 non-null  float64
 13  AirTime            68418 non-null  float64
 14  ArrDelay           68418 non-null  float64
 15  DepDelay           68601 non-null  float64
 16  Origin             68601 non-null  object
 17  Dest               68601 non-null  object
 18  Distance           68601 non-null  int64
 19  TaxiIn             68444 non-null  float64
 20  TaxiOut            68594 non-null  float64
 21  Cancelled          68601 non-null  int64
 22  CancellationCode   12 non-null     object
 23  Diverted           68601 non-null  int64
 24  CarrierDelay       15253 non-null  float64
 25  WeatherDelay       15253 non-null  float64
 26  NASDelay           15253 non-null  float64
 27  SecurityDelay      15253 non-null  float64
 28  LateAircraftDelay  15253 non-null  float64
dtypes: float64(14), int64(10), object(5)
memory usage: 15.7+ MB

In [71]:
data.isna().sum(axis=0)

Year                     0
Month                    0
DayofMonth               0
DayOfWeek                0
DepTime                  0
CRSDepTime               0
ArrTime                157
CRSArrTime               0
UniqueCarrier            0
FlightNum                0
TailNum                  0
ActualElapsedTime      183
CRSElapsedTime           5
AirTime                183
ArrDelay               183
DepDelay                 0
Origin                   0
Dest                     0
Distance                 0
TaxiIn                 157
TaxiOut                  7
Cancelled                0
CancellationCode     68589
Diverted                 0
CarrierDelay         53348
WeatherDelay         53348
NASDelay             53348
SecurityDelay        53348
LateAircraftDelay    53348
dtype: int64

In [72]:
y = data['DepDelay']
X = data.drop(columns=['DepDelay', 'Year', 'Month', 'DayofMonth', 'DayOfWeek'])

In [58]:
data.head()

Empty DataFrame
Columns: [Year, Month, DayofMonth, DayOfWeek, DepTime, CRSDepTime, ArrTime, CRSArrTime, UniqueCarrier, FlightNum, TailNum, ActualElapsedTime, CRSElapsedTime, AirTime, ArrDelay, DepDelay, Origin, Dest, Distance, TaxiIn, TaxiOut, Cancelled, CancellationCode, Diverted, CarrierDelay, WeatherDelay, NASDelay, SecurityDelay, LateAircraftDelay]
Index: []

[0 rows x 29 columns]

In [ ]:
#класс для нормировки данных
class scaler():
    pass

In [3]:
class LinearRegression():
    def __init__(self):
        self.w = None

In [ ]:
#Линейная регрессия sgd
class SGDLinearRegression(LinearRegression):
    
    def __init__(self):
        super().__init__()
    
    def sgd_fit(self, X, y, n_sample=1, lr=3e-2, max_iter=100):
        n, m = X.shape
        ones = pd.DataFrame([1 for i in range(n)])
        X_train = pd.concat([ones, X.values()], axis=1)
        
        if self.w is None:
            self.w = []
            for i in range(m+1):
                self.w.append(random.random())
        
        self.losses = []
        for iter_num in rang(max_iter):
            y_pred = self.predict(X_train)
            #self.losses.append(mse(y, y_pred)) #TODO написать функцию ошибки
            grad = self._calc_gradient(X_train, y, y_pred)
            self.w -= lr*grad
        
    def _calc_gradient(self, X, y, y_pred):
        pass